$color-black: #000;
$color-white: #fff;
$color-oranger: #ff6600;

// font-size
$drfault-size: 16px;

// theme setting
$theme-bg: $color-black;
$theme-text: $color-white;
$theme-active-link: $color-oranger;
