@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.previewModa {
  width: 0;
  height: 100%;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  right: 0;
  left: auto;
  &.show {
    width: 100%;
  }
  .modal-dialog {
    max-width: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    .modal-content {
      border-radius: 0;
      min-height: 100%;
      border: 0;
    }
    @include sm-min {
      max-width: -webkit-calc(100% - 250px);
      max-width: calc(100% - 250px);
      margin-left: 250px;
    }
  }

  .modal-content{
    background: #f5f5f5;
  }
}
.previewModalBackdrop {
  opacity: 0 !important;
}
// for design only
.design-data{
  padding:20px 50px 0px 50px;
  h1{
    font-size: 2.2rem;
  }
  .contentHtml{
    h3{
      margin: 0px 0px 14px 0px;
      font-size: 1.7rem;
      line-height:normal;
    }
    h4{
      margin: 0px 0px 14px 0px;
      font-size: 1.5rem;
    }
  }
  .card-box-feature{
    .card-body{
      p{
        font-size:14px;
        color:#444;
      }
    }
    a {
      img{
        width:32px;
      } 
    }
  }
  .content-block {
    h3{
      margin-top:0;
    }
  }
  .external-link-feature{
    margin-bottom:50px;
  }
  .codeSnippetsWithView{
    margin-bottom:50px;
  } 
  .codeSnippets{
    margin-bottom:50px;
  }
  .iframeBlock{
    margin-bottom:50px;
  }
  .videoBlock{
    margin-bottom:50px;
  }
  .color-grid{
    margin-bottom:50px;
  }
  .icon-grid{
    margin-bottom:50px;
    .icon-list{
      .icon-preview{
        span{
          img{
            width:40px;
          }
        }
      }
    }
  }
  .blockTypography{
    margin-bottom:50px;
  }
  .htmlPreview{
    margin-bottom:50px;
  }
  @include sm-max{
    padding:20px 15px 0px 15px;
  }
}