@import "../assets/scss/variables";
@import "../assets/scss/mixins";
.addNewProject {
  .addNewProjectDetail {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
  }
  .addNewProjectData {
    .form-group {
      padding: 20px;
      border: 1px solid rgba($theme-bg, 0.1);
    }
  }
}

.resourceItem {
  border: 1px solid rgba($theme-bg, 0.1);
  padding: 10px;
  .resourceItemInner {
    padding: 10px 50px 0 10px;
    margin-bottom: 10px;
    background-color: rgba($theme-bg, 0.1);
    position: relative;
    .form-control {
      margin-bottom: 10px;
    }
    input[type="file"] {
      width: 100%;
    }
    button.btn-danger {
      position: absolute;
      top: 13px;
      right: 10px;
    }
  }
}

.imageOverRemove {
  position: relative;
  background-color: rgba($theme-bg, 0.1);
  padding: 10px;
  img,
  video,
  iframe {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    object-position: center;
    -webkit-object-fit: contain;
    -webkit-object-position: center;
    margin: 0 auto;
    display: block;
    border: 0;
    outline: 0;
  }
  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.projectVideoUrl {
  position: relative;
  // padding-right: 60px;
  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
