@import "../assets/scss/variables";
@import "../assets/scss/mixins";
.allpagesTable {
  tbody {
    counter-reset: section;
    tr {
      counter-increment: section;
      .count {
        &:after {
          content: counter(section);
        }
      }
      td{
        white-space: nowrap;
      }
    }
  }
  thead{
    tr{
      th{
        white-space: nowrap;
      }
    }
  }
  @include lg {
    thead{
      tr{
        th{
          white-space: normal;
        }
      }
    }
    tbody{
      tr{
        td{
          white-space: normal;
        }
      }
    }
  }
}
