@import "../assets/scss/variables";
@import "../assets/scss/mixins";
.allpagesTable {
  tbody {
    counter-reset: section;
    tr {
      counter-increment: section;
      .count {
        &:after {
          content: counter(section);
        }
      }
    }
  }
}
