@import "../assets/scss/variables";
@import "../assets/scss/mixins";
.dashboard {
  // background-color: rgba($theme-bg, 0.1);
  overflow: auto;
  @include lg {
    height: 100%;
  }
  .card {
    margin: 15px 0;
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
    img {
      width: auto;
      max-width: 200px;
      max-height: 120px;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center;
    }
    .card-body {
      cursor: pointer;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    &:hover {
      background-color: rgba($theme-bg, 0.1) !important;
    }
  }
  .table {
    thead {
      background-color: rgba($theme-bg, 0.1);
    }
    tbody {
      counter-reset: section;
      tr {
        counter-increment: section;
        td {
          &.count {
            &:after {
              content: counter(section);
            }
          }
          a {
            color: $theme-bg;
          }
        }
      }
    }
  }
}
